.form {
  margin-bottom: 30px;
}
.form div.row {
  display: flex;
  margin-bottom: 5px;
}
.form label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 3px;
}
.form input {
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #e2ecef;
}
.form input[name="email"] {
  width: 250px;
}
.form input[name="score"] {
  width: 50px;
}
.form button[type="submit"] {
  margin: 10px 0 0 205px;
  border: 1px solid #bdbdbd;
  padding: 4px 10px;
  border-radius: 3px;
}
.form .fielderror {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

.homelink {
  margin-left: 205px;
  text-decoration: none;
}
.homelink:hover {
  text-decoration: underline;
}
